server {
    listen      80 default_server;
    
    index index.php index.html index.htm;

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log warn;

    location / {
    
        set $site_index /home/vagrant/prestashop-workflow/site/index.php;

        if (-f $site_index) {
            root /home/vagrant/prestashop-workflow/site;
        }
        
        set $site_root /home/vagrant/public_www;

        if (-d $site_root) {
            root $site_root;
        }
    
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ /(\.|wp-config.php|readme.html|license.txt|licencia.txt) {
        return 404;
    }

    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_pass unix:/var/run/php5-fpm.sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }

    location ~ /\. {
        deny all;
    }
}

server {
    root /home/vagrant/workflow-documentation;
    index index.php index.html index.htm;

    server_name prestashop-workflow.local;
    server_name www.prestashop-workflow.local;

    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_pass unix:/var/run/php5-fpm.sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
        fastcgi_read_timeout 3000;
    }
}
